on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]

permissions:
  contents: read

jobs:
  terratest:
    name: Test Terraform Code
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    strategy:
      max-parallel: 3
      matrix:
        project:
          - modules/launcher/test
          - modules/persistence/test
          - modules/notice-discord/test
          - modules/dns-record/test

    concurrency: "${{ matrix.project }}"

    steps:
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: |
            ${{ secrets.ORG_ACCESS_SSH_KEY }}

      - uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::234656776442:role/brd-sndbx-ue1-core-apply
          aws-region: us-east-1

      - name: terratest
        uses: cloudposse/github-action-terratest@dee3c6c2a6f988c4405965ed69972925a5c3a0b2 # main
        with:
          sourceDir: ${{ matrix.project }}
        env:
          TF_VAR_assume_principal: "arn:aws:iam::234656776442:role/brd-sndbx-ue1-core-apply"
          DISCORD_BOT_AUTH_TOKEN: ${{ secrets.DISCORD_BOT_AUTH_TOKEN }}
          DISCORD_CHANNEL_ID: ${{ secrets.DISCORD_CHANNEL_ID }}
