on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]

permissions:
  contents: read

jobs:
  tflint:
    permissions:
      pull-requests: write
    name: Lint Terraform Code
    runs-on: ubuntu-latest

    steps:
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: |
            ${{ secrets.ORG_ACCESS_SSH_KEY }}

      - name: Clone repo
        uses: actions/checkout@master

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      # Run init to get module code to be able to use `--module`
      - name: Terraform init
        run: |
          for d in modules/*/ modules/*/examples/*/; do
            echo "Running 'terraform init' in ${d}"
            terraform -chdir="$d" init
          done

      - name: Terraform fmt
        run: terraform  fmt -check -recursive

      # More complex example
      - name: tflint
        uses: reviewdog/action-tflint@master
        with:
          github_token: ${{ github.token }}
          reporter: github-pr-review
          fail_on_error: "false"        # Optional. Fail action if errors are found
          tflint_rulesets: "aws"        # Optional. Extra official rulesets to install
          tflint_init: "true"           # Optional. Whether to run tflint --init prior to linting (useful if you have a .tflint.hcl with some values in it).
          flags: "--module --recursive" # Optional. Add custom tflint flags
